/*
    Customized theme for Dokka by BlueWhaleYT.
    Light: Material Lighter
    Dark: Material Palenight
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

.overview a {
    width: 100% !important;
}

.filterWrapper_dd63,
.list_a01c {
    font-family: var(--default-monospace-font-family);
}

.deprecation-content {
    margin: 20px 0px;
    border-radius: 4px;
}

.cover h1 {
    /* font-family: var(--default-monospace-font-family); */
}

.platform-hinted a,
.tabbedcontent a {
    font-family: var(--default-monospace-font-family);
}

.main-subrow .w-100 a {
    font-size: 25px !important;
    font-weight: bolder;
}

.main-subrow .brief-comment .paragraph {
    padding-top: 10px;
    padding-bottom: 10px;
}

strike {
    opacity: 0.75 !important;
    text-decoration: none;
}

:root {
    --default-font-family: "Quicksand", sans-serif;
}

:root.theme-dark {
    --background-color: #202331;
    --color-dark: #202331;
    --default-font-color: #a6accd;
    --code-background: #292d3e;
    --footer-background: #292d3e;
    --footer-font-color: #a6accd;
    --breadcrumb-font-color: #a6accdcc;
    --navigation-highlight-color: #292d3e;
    --sidemenu-section-active-color: #ab47bcaa;
    --active-section-color: #ab47bc;
    --active-tab-border-color: #ab47bc;
    --inactive-section-color: #676e95;
    --inactive-tab-border-color: #676e95;

    --green: #c3e88d;
    --yellow: #ffcb6b;
    --blue: #82aaff;
    --purple: #c792ea;
    --orange: #f78c6c;
    --red: #f07178;
    --red2: #ff5370;
    --cyan: #89ddff;
    --cyan2: #80cbc4;
    --gray: #676e95;
}

.theme-dark .main-subrow .brief-comment .paragraph {
    color: var(--default-font-color) !important;
}

.theme-dark .main-content .content>hr {
    border: 3px double #292d3e;
    margin: 20px 0;
}

.theme-dark .platform-tag.jvm-like {
    background: var(--cyan2);
    color: var(--background-color);
}

.theme-dark .platform-selector:not([data-active]) {
    border: none;
    background: var(--code-background);
    color: var(--default-font-color);
}

/* [ Deprecated Section ] */
.theme-dark .deprecation-content {
    border-color: var(--red2);
    background: #ff537011;
}

.theme-dark .deprecation-content h3 {
    color: var(--red2);
}

/* [ Search Popup ] */
.theme-dark .filterWrapper_dd63,
.theme-dark .list_a01c {
    background: var(--background-color);
}

.theme-dark .list_a01c strong {
    color: #ab47bc !important;
}

/* [ Code Block ] */
.theme-dark .symbol.monospace a {
    color: var(--yellow) !important;
}

.theme-dark .token.class-name {
    color: var(--yellow) !important;
}

.theme-dark .token.keyword,
.theme-dark .token.operator {
    color: var(--purple) !important;
}

.theme-dark .token.constant,
.theme-dark .token.number,
.theme-dark .token.boolean {
    color: var(--orange) !important;
}

.theme-dark .token.function {
    color: var(--blue) !important;
}

.theme-dark .token.string {
    color: var(--green) !important;
}

.theme-dark .token.punctuation {
    color: var(--cyan) !important;
}

.theme-dark .token.comment {
    color: var(--gray) !important;
}

.theme-dark .token.annotation.builtin {
    color: var(--cyan2);
}