/*
    Customized theme for Dokka by BlueWhaleYT.
    Light: Material Lighter
    Dark: Material Palenight
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');

div#github-link {
    width: 36px;
    height: 36px;
    display: inline-flex;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    border: none;
}

div#github-link a {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-github' viewBox='0 0 16 16'><path d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z'/></svg>");
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-size: 100% 100%;
    margin-left: 16px;
}

.overview a {
    width: 100% !important;
}

.filterWrapper_dd63,
.list_a01c {
    font-family: var(--default-monospace-font-family);
}

.deprecation-content {
    margin: 20px 0px;
    border-radius: 4px;
}

.cover h1 {
    /* font-family: var(--default-monospace-font-family); */
}

.platform-hinted a,
.tabbedcontent a {
    font-family: var(--default-monospace-font-family);
}

.main-subrow .w-100 a {
    font-size: 25px !important;
    font-weight: bolder;
}

.main-subrow .brief-comment .paragraph {
    padding-top: 10px;
    padding-bottom: 10px;
}

strike {
    opacity: 0.75 !important;
    text-decoration: none;
}

:root {
    --default-font-family: "Euclid Circular A", sans-serif;
}

:root.theme-dark {
    --background-color: #202331;
    --color-dark: #202331;
    --default-font-color: #a6accd;
    --code-background: #292d3e;
    --footer-background: #292d3e;
    --footer-font-color: #a6accd;
    --breadcrumb-font-color: #a6accdcc;
    --navigation-highlight-color: #292d3e;
    --sidemenu-section-active-color: #ab47bcaa;
    --active-section-color: #ab47bc;
    --active-tab-border-color: #ab47bc;
    --inactive-section-color: #676e95;
    --inactive-tab-border-color: #676e95;

    --green: #c3e88d;
    --yellow: #ffcb6b;
    --blue: #82aaff;
    --purple: #c792ea;
    --orange: #f78c6c;
    --red: #f07178;
    --red2: #ff5370;
    --cyan: #89ddff;
    --cyan2: #80cbc4;
    --gray: #676e95;
}

.theme-dark .main-subrow .brief-comment .paragraph {
    color: var(--default-font-color) !important;
}

.theme-dark .main-content .content>hr {
    border: 3px double #292d3e;
    margin: 20px 0;
}

.theme-dark .platform-tag.jvm-like {
    background: var(--cyan2);
    color: var(--background-color);
}

.theme-dark .platform-selector:not([data-active]) {
    border: none;
    background: var(--code-background);
    color: var(--default-font-color);
}

/* [ Deprecated Section ] */
.theme-dark .deprecation-content {
    border-color: var(--red2);
    background: #ff537011;
}

.theme-dark .deprecation-content h3 {
    color: var(--red2);
}

/* [ Search Popup ] */
.theme-dark .filterWrapper_dd63,
.theme-dark .list_a01c {
    background: var(--background-color);
}

.theme-dark .list_a01c strong {
    color: #ab47bc !important;
}

/* [ Code Block ] */
.theme-dark .symbol.monospace a {
    color: var(--yellow) !important;
}

.theme-dark .token.class-name {
    color: var(--yellow) !important;
}

.theme-dark .token.keyword,
.theme-dark .token.operator {
    color: var(--purple) !important;
}

.theme-dark .token.constant,
.theme-dark .token.number,
.theme-dark .token.boolean {
    color: var(--orange) !important;
}

.theme-dark .token.function {
    color: var(--blue) !important;
}

.theme-dark .token.string {
    color: var(--green) !important;
}

.theme-dark .token.punctuation {
    color: var(--cyan) !important;
}

.theme-dark .token.comment {
    color: var(--gray) !important;
}

.theme-dark .token.annotation.builtin {
    color: var(--cyan2);
}